body {
  font-family: 'Poppins', sans-serif;
  color: darkgreen;
  background-color: lightgreen;
}

nav {
  overflow: hidden;
}

nav > ul > li {
  line-height: 50px;
}

nav a {
  background-color: grey;
  color: lightsalmon;
  width: auto;
  height: auto;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5%;
  position: relative;
  left: 630px;
}

nav a:hover {
  background-color: cyan;
  color: darkslategray;
}

.about > p {
  font-size: 1.3rem;
}

h1 {
  font-weight: 900;
  font-size: 6rem;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 40px;
  
}

h1 img{
  border-radius: 50%;
  height: 50px;
}

#logo {
  width: 50px;
  vertical-align: middle;
  padding-right: 10px;
}

.salmon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 50%;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#foot-fish {
  width: 30px;
  padding: 5px 5px;
  margin-bottom: -12px;
  border-radius: 50%;
}

#chinook {
  width: 150px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div {
  background-color: rgba(255, 234, 240, 0.651);
  width: 25%;
  border-radius: 5%;
}

.about {
  width: 50%;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

table, td, th {
  background-color: seashell;
  border: solid black 1px;
  border-collapse: collapse;
  padding: 10px;
}


#Hours {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  width: 720px;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}

#info p {
  display: inline;
}

.strong {
  font-weight: 600;
}

footer > p {
  width: 400px;
  margin: 0 auto;
}






